<%#= debug @start_date %>

<%#= debug(@measurements_by_minute) %>

<%
now = Date.today
start_date = (now - 1)
%>

<div id="samples_per_minute"></div>
<script>
$(function () {
    $('#samples_per_minute').highcharts({
		title: {
		    text: 'Total Samples per Minute'
		},
        chart: {
			type: 'line',
            zoomType: 'x',
        },
        xAxis: {
            type: 'datetime',
            tickInterval: 60000,
        },
        yAxis: {
        	min: 0,
            title: {
                text: 'Samples'
            }
        },
		legend: {
			title: 'test'
		},
		series: 
		  //JSON.parse(<%= @series_by_min.to_json %>)
		  <%= @series_by_min_js %>
    });
});
</script>
