<%#= debug(@measurements_by_hour_data) %>

<%
now = Date.today
start_date = (now - 7)
%>

<div id="samples_per_hour"></div>
<script>

series_by_hour = JSON.parse('<%= @samples_by_hour.to_json.html_safe %>')
start_by_hour_ms = <%= ((@start_time_by_hour.to_i()-6.hour)*1000).to_s %>

$(function () {
    $('#samples_per_hour').highcharts({
		title: {
		    text: 'Samples Per Hour'
		},
        chart: {
			type: 'line',
            zoomType: 'x',
            spacing: [0,0,0,0],
            height: 200,
        },
        xAxis: {
            type: 'datetime',
            tickInterval: 6* 60 * 60 *1000,
            min: start_by_hour_ms
        },
        yAxis: {
        	min: 0,
            title: {
                text: 'Samples'
            }
        },
        series:
          series_by_hour
    });
});
</script>
