<%#= debug @start_date %>

<%#= debug(@measurements_by_minute) %>

<%
now = Date.today
start_date = (now - 1)
%>

<div id="samples_per_minute"></div>
<script>

series_by_minute = JSON.parse('<%= @samples_by_minute.to_json.html_safe %>')
start_by_minute_ms = <%= ((@start_time_by_minute.to_i()-6.hour)*1000).to_s %>

$(function () {
    $('#samples_per_minute').highcharts({
		title: {
		    text: 'Samples Per Minute'
		},
        chart: {
			type: 'line',
            zoomType: 'x',
            spacing: [0,0,0,0],
            height: 200,
        },
        xAxis: {
            type: 'datetime',
            tickInterval: 5*60000,
            min: start_by_minute_ms
        },
        yAxis: {
        	min: 0,
            title: {
                text: 'Samples'
            }
        },
		legend: {
			title: 'test'
		},
		series: 
		  series_by_minute,
    });
});
</script>
