
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<div>
<h1>Dashboard</h1>
<p>User dashboard to go here, which displays current status of this CHORDS instance.
(If there are no graphics, <A HREF="javascript:history.go(0)">reload</A> the page)</p>
</div>

<hr />
 <%= @measurements_by_hour %>





<script>
$(function () { 
    $('#test').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: null
        },
        legend: {
            enabled: false
        },
        yAxis: {
        	min: 0,
            title: {
                text: 'Samples per minute'
            }
        },
        series: [{
            name: 'samples',
            data: [<%= @measurements_by_minute.values.join(',') %>]
        }]
    });
});

</script>
<div id="test"></div>
