
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<h1>Dashboard</h1>
<hr />

<%= render 'samples_per_minute' %>
<%= render 'samples_per_hour' %>

