
<script>
$(function () { 
    $('#samplesperday').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: 'Samples per day'
        },
        yAxis: {
            title: {
                text: 'Samples per day'
            }
        },
        series: [{
            name: 'Rate',
            data: [
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129
          ]
        }]
    });
});
</script>
<script>
$(function () { 
    $('#dataserved').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: 'Data Requests'
        },
        yAxis: {
            title: {
                text: 'Data Requests'
            }
        },
        series: [{
            name: 'Rate',
            data: [
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129,
            100,101,112,111,115,121,103,99,104,114,131,129
          ]
        }]
    });
});
</script>

<div>
<h1>Dashboard</h1>
<p>User dashboard to go here, which displays current status of this CHORDS instance. 
<br>Some possible items to display:</p>
<ul>
	<li>Identifying info.</li>
	<li>Dials and gauges.</li>
	<li>Instance resource usage, such as database size.</li>
	<li>The last sensor message received.</li>
	<li>It would be nice to have some stats about data being served.</li>
</ul>
</div>

<div id="dataserved"></div>
<div id="samplesperday"></div>

