
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<h1>Dashboard</h1>
<p>
<div>
<table class="last_post_table">
  <tr>
  	<td>May 7 2015 13:21</td>
  	<td>http://52.11.82.37/measurement/site/instrument/blah,blah,blah,blah,blah,blah,blah,blah,blah,blah</td>
  </tr>
</table>
</div>
(<A HREF="javascript:history.go(0)">Reload</A> if graphics are missing)</p>
<div id="chart_resource_usage"></div>
<div id="chart_data_posts"></div>
<div id="chart_data_gets"></div>

