<h1>Dashboard</h1>
<p>User dashboard to go here, which displays current status of this CHORDS instance. 
<br>Some possible items to display:</p>
<nl>
	<li>Identifying info.</li>
	<li>Dials and gauges.</li>
	<li>Instance resource usage, such as database size.</li>
	<li>It would be nice to have some stats about data being served.</li>
</nl>
