
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>


<script>
</script>

<div>
<h1>Dashboard</h1>
<p>User dashboard to go here, which displays current status of this CHORDS instance.
(If there are no graphics, <A HREF="javascript:history.go(0)">reload</A> the page)</p>
</div>

<div id="chart_resource_usage"></div>
<div id="chart_new_data"></div>
<div id="chart_data_requests"></div>

