%h2 Metadata Ontology Vocabularies

.configuration
  .line
    .title
      Unit Ontology
    .field
      #{f.select :unit_source, options_for_select([['CUAHSI', 'CUAHSI'], ['UDUNITS', 'UDUNITS']], @profile.unit_source)}

  .line
    .title
      Measured Property Ontology
    .field
      #{f.select :measured_property_source, options_for_select([['SensorML', 'SensorML'], ['CUAHSI', 'CUAHSI']], @profile.measured_property_source)}
