%h1 Import a InfluxDB Backup File

- if can?(:import, Profile)
  = form_tag(import_influxdb_profiles_path, :method => 'post', :enctype =>"multipart/form-data") do
    %div
      = file_field_tag 'influxdb_backup_file', :accept => 'text/json', :multiple => false
      %br/
    %div
      = submit_tag("Import")

= @output
