[Unit]
Description=CHORDS Server and Database
Requires=docker.service
After=docker.service

[Service]
Restart=always
User=pirate
WorkingDirectory=/home/pirate
ExecStart=/usr/local/bin/docker-compose -p chords up
ExecStop=/usr/local/bin/docker-compose  -p chords down

[Install]
WantedBy=default.target
