# 1. Copy this into .env, in the directory where docker-compose.yml is located.
# 2. Edit
#
# Replace this with a strong password:
CHORDS_ADMIN_PW=use_a_strong_password
#
# Choose a reasonable password for guest access to data and graphics:
CHORDS_GUEST_PW=guest
# 
DOCKER_TAG=development
#
RAILS_ENV=production
#
DB_RETENTION=52w
