<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navBarCollapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navBarCollapse">
      <ul class="nav navbar-nav">
        <li><a href="{{site.baseurl}}/index.html">Home</a></li>
        <li><a href="{{site.baseurl}}/whatis.html">About</a></li>
        <li><a href="{{site.baseurl}}/gettingstarted.html">Getting Started</a></li>
        <li><a href="{{site.baseurl}}/concepts.html">Concepts</a></li>
        <li><a href="{{site.baseurl}}/datain.html">Data In</a></li>
        <li><a href="{{site.baseurl}}/dataout.html">Data Out</a></li>
        <li><a href="{{site.baseurl}}/news.html">News</a></li>
        <li><a href="{{site.baseurl}}/contact.html">Partners</a></li>
      </ul>
    </div>
  </div>
</div>

