<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
      <a class="navbar-brand" href="{{site.baseurl}}/index.html" name="CHORDS Home">
        <img alt="CHORDS" src="{{site.baseurl}}/images/chords_logo_text.png" style="max-height: 25px;">
      </a>
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{site.baseurl}}/whatis.html">About</a></li>
        <li><a href="{{site.baseurl}}/gettingstarted.html">Get Started</a></li>
        <li><a href="{{site.baseurl}}/concepts.html">Concepts</a></li>
        <li><a href="{{site.baseurl}}/datain.html">Data In</a></li>
        <li><a href="{{site.baseurl}}/dataout.html">Data Out</a></li>
        <li><a href="{{site.baseurl}}/news.html">News</a></li>
        <li><a href="{{site.baseurl}}/partners.html">Partners</a></li>
      </ul>
    </div>
  </div>
</nav>
