<h1>Data Fetch</h1>
<h2>Select the measurements</h2>

<ul>
  <% Site.all.each do |site| %>
    <li>
    	<%= site.name %>
    	<br>
		<%= collection_check_boxes(:post, :site_choice, site.instruments, :site_id, :name) %>
		<br>
    </li>
  <% end %>
</ul>
<%= submit_tag("Generate CSV File") %>
