<h1>Data Fetch Support</h1>
<p>This page will allow users to specify a data query and download the results directly.</p>
<p>The data navigation functionality should be shared with the URL Builder.</p>
<p>The will be a choice of file output formats: CSV, what else?</p>
