<h3>Users</h3>
<div class="table-responsive">
  <table  class="table table-striped">
    <tbody>
      <tr>
      	<th>Email/Username</th>
      	<th>Is Admin?</th>
      	<th>May view data?</th>
      	<th>May Download Data?</th>
      </tr>
    <% @users.each do |user| %> 
      <% if can? :view, user %>
        <tr>
      		<td>
      			<%= best_in_place_if (can? :manage, user), user, :email, :as => :input %>
      		</td>
      		<td align="center">
      			<%= best_in_place_if (can? :manage, user), user, :is_administrator, as: :checkbox, collection: {false: "No", true: "Yes"} %>		
      		</td>
      		<td align="center">
      			<%= best_in_place_if (can? :manage, user), user, :is_data_viewer, as: :checkbox, collection: {false: "No", true: "Yes"} %>		
      		</td>
      		<td align="center">
      			<%= best_in_place_if (can? :manage, user), user, :is_data_downloader, as: :checkbox, collection: {false: "No", true: "Yes"} %>		
      		</td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
