%h3 User
%p
.table-responsive
  %table
    %tr
      %td
        %strong Email
      %td #{@user.email if @user.email}
    %tr
      %td
      %td
    %tr
      %td
        %strong Roles
      %td= @user.roles_pretty_printed
    %tr
      %td
        %strong API Key
      %td= @user.api_key

