%br
%div
  %strong.important Important: Do not use your CHORDS password in other places!
%div
  %strong This CHORDS portal currently does not support HTTPS.
%div
  %strong Passwords are not encrypted during transmission over the internet.
%br