<!DOCTYPE html>
<html>
<head>
    <title>Image Overlay Display</title>
    <meta charset="utf-8" />
    <link 
        rel="stylesheet" 
        href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"
    />
    <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>
</head>

<body>
    <h1>Image Overlay Display</h1>

    <div>
    <table>
    <thead>
        <tr>
        <th>ID</th>
        <th>Sample Time</th>
        <th>URL</th>
        </tr>
    </thead>
    
    <tbody>
        <% RadarDatum.all.each do |file| %>
        <tr>
            <td><%= file.id %></td>
            <td><%= file.sampled_at %></td>
            <td><%= file.overlay_image.service_url if file.overlay_image.attached? %></td>
        </tr>
        <% end %>
    </tbody>
    </table>
</div>
    <div id="mapid" style="width: 1000px; height: 800px"></div>
</body>

<script>
    var map = L.map('mapid').setView([32.492128, -96.997321],9)
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		id: 'mapbox.streets'
	}).addTo(map);

    var imageUrl;
    imageUrl = '<%= RadarDatum.first.overlay_image.service_url if RadarDatum.first.overlay_image.attached? %>';
    imageBounds = [[32.1227, -97.4363], [32.8609, -96.5584]]; 
    L.imageOverlay(imageUrl, imageBounds).addTo(map);
</script>

</html>
