<head>
   <title>Simple Leaflet Map with Heatmap </title>
    <meta charset="utf-8" />
    <link
        rel="stylesheet"
        href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"
    />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>
<style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body, #map {
            height: 90%;
            width: 90%;
        }
    </style>

</head>
<h1>Open Source Map utilizing Leaflet JS, layering and heatmap </h1>
<body>
        <div id="map"></div>

    <script
       src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js">
    </script>

    <script
       src="http://leaflet.github.io/Leaflet.heat/dist/leaflet-heat.js">
    </script>

    <script>

  var coolPlaces = new L.LayerGroup();

        L.marker([-41.29042, 174.78219])
            .bindPopup('Te Papa').addTo(coolPlaces),
        L.marker([-41.29437, 174.78405])
            .bindPopup('Embassy Theatre').addTo(coolPlaces),
        L.marker([-41.2895, 174.77803])
            .bindPopup('Michael Fowler Centre').addTo(coolPlaces),
        L.marker([-41.28313, 174.77736])
            .bindPopup('Leuven Belgin Beer Cafe').addTo(coolPlaces),
        L.polyline([
            [-41.28313, 174.77736],
            [-41.2895, 174.77803],
            [-41.29042, 174.78219],
            [-41.29437, 174.78405]
            ]
            ).addTo(coolPlaces);

        var osmLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>',
thunLink = '<a href="http://thunderforest.com/">Thunderforest</a>\
';

        var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
            osmAttrib = '&copy; ' + osmLink + ' Contributors',
            landUrl = 'http://{s}.tile.thunderforest.com/landscape/{z}/{x}/{y\
}.png',
            thunAttrib = '&copy; '+osmLink+' Contributors & '+thunLink;

        var osmMap = L.tileLayer(osmUrl, {attribution: osmAttrib}),
            landMap = L.tileLayer(landUrl, {attribution: thunAttrib}); 


	var request = new XMLHttpRequest(); 
	request.open("GET", "testZip.json", false); 
	request.send(null); 
	var resultData = JSON.parse(request.responseText); 
	alert("success"); 
	console.log(resultData); 
	var testPoints = [resultData["outputData"][0]];  
	

let portland = L.marker([43.6591, -70.2568]).bindPopup('This is Portland, ME.'),
            gorham = L.marker([43.6795, -70.4442]).bindPopup('This is Gorham, ME.'),
            scarborough = L.marker([43.5902, -70.3345]).bindPopup('This is Scarborough, ME.'),
            biddeford = L.marker([43.4926, -70.4534]).bindPopup('This is Biddeford, ME.');

        let cities = L.layerGroup([portland, gorham, scarborough, biddeford]);

        var map = L.map('map',{ layers: [osmMap]
                }).setView([32.492128,-96.997321], 10);
        mapLink =
            '<a href="http://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer(
            'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; ' + mapLink + ' Contributors',
            maxZoom: 18,
        }).addTo(map);

        var baseLayers = {
                        "OSM Mapnik": osmMap,
                        "Landscape": landMap
                };

                var overlays = {
                        "Interesting places": coolPlaces
                };

                L.control.layers(baseLayers,overlays).addTo(map);

        var heat = L.heatLayer(testPoints,{
            radius: 20,
            blur: 0,
            maxZoom: 17,
        }).addTo(map);
    </script>
</body>
