<head>
   <title>Simple Leaflet Map with Heatmap </title>
    <meta charset="utf-8" />
    <link
        rel="stylesheet"
        href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"
    />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>
    <style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body, #map {
            height: 90%;
            width: 100%;
        }
    </style>

</head>
<h1>Open Source Map utilizing Leaflet JS, layering and heatmap </h1>
<body>
    <div id="map"></div>
         <script
       src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js">
    </script>

    <script
       src="http://leaflet.github.io/Leaflet.heat/dist/leaflet-heat.js">
    </script>

   <div id="legend" style="border: solid black 1px">
	Legend:  
   </div>
    <script>
	
        var sites = new L.LayerGroup();
        L.marker([32.4335, -97.1025])
            .bindPopup('Venus, TX').addTo(sites),
        L.marker([32.5885, -96.9561])
            .bindPopup('Cedar Hill').addTo(sites),
        L.marker([32.5632, -97.1417])
            .bindPopup('Mansfield, TX').addTo(sites),
        L.marker([32.5065, -97.1875])
            .bindPopup('Lillian, TX').addTo(sites),
        L.polyline([
            [32.28313, -97.77736],
            [32.2895, -96.77803],
            [32.29042, -97.78219],
            [32.29437, -96.78405]
            ]
            ).addTo(sites);

        var osmLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';
        var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
            osmAttrib = '&copy; ' + osmLink + ' Contributors';

        var osmMap = L.tileLayer(osmUrl, {attribution: osmAttrib});

	var testPoints = []; 
        function getData(){
        	var request = new XMLHttpRequest();
		var resp; 
		request.onreadystatechange = function(){
	   	if(this.readyState == 4 && this.status == 200){
			 var resp = this.responseText;
			 var resultData = JSON.parse(resp);
 			 console.log(resultData);
  			 alert("success");
			testPoints = resultData[Object.keys(resultData)[0]];
			console.log(Object.keys(resultData)[0]);  
			printMap(testPoints);  
	   	  }
		}	
        	request.open("GET", "testZip.json", true);
        	request.send(null);
        }

	getData(); 

	function printMap(data){
	    let venus = L.marker([32.4335, -97.1025]).bindPopup('This is Venus, TX.'),
            cedarHill = L.marker([32.5885, -96.9561]).bindPopup('This is Cedar Hill, TX.'),
            mansfield = L.marker([32.5065, -97.1417]).bindPopup('This is Mansfield, TX.'),
            lillian = L.marker([32.5065, -97.1875]).bindPopup('This is Lillian, TX.');

        let cities = L.layerGroup([venus, cedarHill, mansfield, lillian]);

        var map = L.map('map',{ layers: [osmMap]
                }).setView([32.492128,-96.997321], 10);
        mapLink =
            '<a href="http://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer(
            'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; ' + mapLink + ' Contributors',
            maxZoom: 18,
        }).addTo(map);

        var baseLayers = {
                        "OSM Mapnik": osmMap,
                        "Version2": osmMap
                };

                var overlays = {
                        "Places in Texas": sites
                };

                L.control.layers(baseLayers,overlays).addTo(map);

        var heat = L.heatLayer(data,{
	    minOpacity: 0,
            radius: 15,
	    max: 200, 
            maxZoom: 17
        }).addTo(map);
	} 
    </script>
</body>
