<head>
   <title>Simple Leaflet Map with Heatmap </title>
    <meta charset="utf-8" />
    <link
        rel="stylesheet"
        href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"
    />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>
    <style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body, #map {
            height: 90%;
            width: 100%;
        }
    </style>

</head>
<h1>[Test small JSON object] Open Source Map utilizing Leaflet JS, layering and heatmap </h1>
<body>
    <div id="map"></div>
         <script
       src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js">
    </script>

    <script
       src="http://leaflet.github.io/Leaflet.heat/dist/leaflet-heat.js">
    </script>

   <div id="legend" style="border: solid black 1px">
        Legend:
   </div>
    <script>

        var sites = new L.LayerGroup();
        L.marker([42.9956, -71,4548])
            .bindPopup('Manchester,NH').addTo(sites),
        L.marker([42.3656, -71.0096])
            .bindPopup('Logan Airport').addTo(sites),
        L.marker([44.3386, -68.2733])
            .bindPopup('Acadia National Park').addTo(sites),
        L.marker([43.6231, -70.2079])
            .bindPopup('Portland Headlights').addTo(sites),
        L.polyline([
            [42.28313, -71.77736],
            [42.2895, -71.77803],
            [42.29042, -71.78219],
            [42.29437, -71.78405]
            ]
            ).addTo(sites);

	var osmLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';
        var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
            osmAttrib = '&copy; ' + osmLink + ' Contributors';

        var osmMap = L.tileLayer(osmUrl, {attribution: osmAttrib});

        var request = new XMLHttpRequest();
        request.open("GET", "http://localhost:3000/radar_data/2/raw_json", false);
        request.send(null);
        var resultData = JSON.parse(request.responseText);
        alert("success");
        console.log(resultData);
        var testPoints = [resultData["outputData"][0]];

        let portland = L.marker([43.6591, -70.2568]).bindPopup('This is Portland, ME.'),
            gorham = L.marker([43.6795, -70.4442]).bindPopup('This is Gorham, ME.'),
            scarborough = L.marker([43.5902, -70.3345]).bindPopup('This is Scarborough, ME.'),
            biddeford = L.marker([43.4926, -70.4534]).bindPopup('This is Biddeford, ME.');

        let cities = L.layerGroup([portland, gorham, scarborough, biddeford]);

        var map = L.map('map',{ layers: [osmMap]
                }).setView([32.4824,-96.9944], 10);
        mapLink =
	'<a href="http://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer(
            'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; ' + mapLink + ' Contributors',
            minZoom: 7, 
	    maxZoom: 18,
        }).addTo(map);

        var baseLayers = {
                        "OSM Mapnik(Reg)": osmMap,
                        "Version2": osmMap
                };

                var overlays = {
                        "Top New England Places": sites
                };

                L.control.layers(baseLayers,overlays).addTo(map);

        var heat = L.heatLayer(testPoints,{
            blur: 0,
            radius: 35,
            maxZoom: 17,
            maxOpacity: 10
        }).addTo(map);
    </script>
</body>


