%p
  = @email
  has registered to join your site,
  = @domain
  !
%p
  An admin can approve this registration by visiting the website and editing the user's permissions. The suggested minimum
  level is 'registered user'. By default, users are granted guest permission, which is the same as not having registered.
