<td><%= best_in_place variable, :name, :as => :input %></td>
<td>=</td>
<td><%= best_in_place variable, :shortname, :as => :input %></td>
<td>
<%= link_to variable, method: :delete, :data => {:confirm => "Are you sure you want to permanently delete the variable #{variable.name} and all associated data?"} do %>
Destroy
<% end %>
</td>
