<h1>About CHORDS<br/><br/>Cloud-Hosted Realtime Data Services for the Geosciences</h1>
<p>Information about:</p>
<nl>
	<li>The general configuration of this instance.</li>
	<li>Important external links to their project.</li>
	<li>Some nice fluff about CHORDS.</li>
</nl>
