<h1>CHORDS for <%= @profile.project %> </h1>
<h2><%= @profile.affiliation %></h2>
<%= raw @profile.description %>

<hr />

<h2>Cloud-Hosted Realtime<br>Data Services<br>for the Geosciences</h2>
<p>Information about:</p>
<ul>
	<li>The general configuration of this CHORDS instance.</li>
	<li>Important external links to their project.</li>
	<li>Some nice fluff about CHORDS.</li>
</ul>
