.main {
width: 86%;
padding-left:2%;
text-align: left;
padding-top: 10px;
padding-bottom: 10px;
float: left;
}

.appheader 
{
	border: 1px solid black;
	background-color: darkorange;
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	color: cornsilk;
}

.footer {
	float: left;
	width: 100%;
}

.footer_links 
{
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.appsidebar 
{
float: left; 
width: 10%; 
padding-right: 10px;
text-align: left;
max-width: 10%;
}

.horizmenu
{
display: inline;
list-style: none;
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 10px;
padding-right: 10px;
}

.vertmenu
{
list-style: none;
text-align: left;
padding-left: 0;
text-align: left;
}

.navlink1 {
color: black;
text-decoration: none;	
}

.navlink2
{
color: black;
text-decoration: none;	
}

.navlink1 a:hover, .navlink2 a:hover
{
color: #fff;
background-color: #369;
text-decoration: none;
}

.last_post_table {
display: flex;
justify-content: center;
padding: 4px 4px 4px 4px;
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
border: 1px solid #fbeed5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.flash_notice, .flash_alert, .last_url {
padding: 8px 35px 8px 14px;
margin-bottom: 20px;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
border: 1px solid #fbeed5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 120%;
}

.flash_notice, .last_url {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
}

.flash_alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
}

.new_or_edit_form {
background-color: #dff0d8;
}

.badge {
display: inline-block;
background-color: darkorange;
font-size: 20px;
padding: 20px;
margin: 20px;
text-align: center;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
line-height: 120%;
}

.badgetitle {
color: cornsilk;
}

.badgevalue {
color: darkblue;
}

.badgegroup {
}
