/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */
.important {
  color: red;
}


.highcharts-range-selector-buttons {
  display: none;
}


.configuration {
  width: 100%
}

.configuration .title, .configuration .field {

}

.line {
  clear: both;
  margin-bottom: 18px;
}

.title {
  font-weight: bolder;
  style: inline;  
  float: left;
  min-width: 200px;
  width: 20%;
}

.profile .field {
  width: 70%;
  float: left;
}

.center {
  width: 100%;
  text-align: center;
}

.clear {
    clear: both;
}

.button {
  # border: 1px solid #c22;
  padding: 5px;
  color: black !important;
  background-color: #ccc;
  margin: 10px;
}

