// Place all the styles related to the monitor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#chart_resource_usage {
  height: 20vh;
}

#chart_data_posts {
  height: 20vh;
}

#chart_data_gets {
  height: 20vh;
}

