<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include header.html %}
<div class="container-fluid">
  <div class="jumbotron" style="background-image:url('images/banner_02.jpg'); background-size:cover; height:400px; margin:0; color:blue; text-shadow: #ffcc66 1px 1px 1px;">
    <h1>CHORDS Portal</h1>
    <h2>Seamless Real-Time Data Streaming</h2>
  </div>
  <div class="jumbotron">
    <h2 align="center">Connect your instruments to the Cloud.<br/>Integrate with Big-Data Services.<br/>It's simple. It's cheap.<br/></h>
  </div>
  <div class="well" style="background: lightblue;">
    <div class="row">
      <div class="col-smlg2" style="text-align: center;">
        <a class="btn btn-primary" href="http://portal.chordsrt.com/">See CHORDS In Action</a>
      </div>
    </div>
  </div>
</div>
<div role="main" class="container">
{{ content }}
</div>
{% include footer.html %}
</body>
</html>
