<h1>Monitor </h1>
<p>You can configure charts to monitor traces of selected parameters.</p>
<ul>
<li>add multiple charts</li>
<li>pick and choose the instrument/measurement to add to the chart</li>
<li>select the time span</li>
<li>see real-time updates</li>
</ul>
<p>See the nice ISFF <a href="http://datavis.eol.ucar.edu">data viewer</a></p>

<% @instruments.each do |instrument| 	%>

<%= instrument.name %>: 
	<% instrument.measurements.order("created_at").last(1).each do |measurement| %>
		<%= measurement.value %> <%= measurement.unit %>
	<% end %>
	</BR>	

<% end %>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>



<script>
$(function () {
    $(document).ready(function () {
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

        $('#container').highcharts({
            chart: {
                type: 'spline',
                animation: Highcharts.svg, // don't animate in old IE
                marginRight: 10,
                events: {
                    load: function () {

                        // set up the updating of the chart each second
                        var series = this.series[0];
                        setInterval(
							function () {
								$.ajax({
								    url: 'monitor/live',
								    success: function(point) {
										console.log(point);																										
										series.addPoint(point, true, true);
								    },
								    cache: false
								});
                        	}
						, 1000);
                    }
                }
            },
            title: {
                text: 'Live random data'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                title: {
                    text: 'Value'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' +
                        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                        Highcharts.numberFormat(this.y, 2);
                }
            },
            legend: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: 'Random data',
                data: (function () {
                    // generate an array of random data
                    var data = [<%= @data %>]
                    return data;
                }())
            }]
        });
    });
});
</script>



