<h1>Monitor </h1>
<p>You can configure charts to monitor traces of selected parameters.</p>
<ul>
<li>add multiple charts</li>
<li>pick and choose the instrument/measurement to add to the chart</li>
<li>select the time span</li>
<li>see real-time updates</li>
</ul>
<p>See the nice ISFF <a href="http://datavis.eol.ucar.edu">data viewer</a></p>