<h1>URL Builder for data query prototyping</h1>
<p>This page will present a form that is used
to build a data fetch query. This can be used 
as a template for external data consumers.</p>
<p>Features of this page:</p>
<ul>
	<li>It knows about the avaiable data models, and will provide 
		menus for specifying ranges.</li>
	<li>The user can manually edit the sample URL.</li>
	<li>The URL can be tested on the page.</li>
	<li>The return data format will be documented.</li>
</ul>
