%h1 URL Builder
%h2 For data ingest prototyping
%p
  This page will present a form that is used
  to build a URL for submitting real-time data to CHORDS.
  It can be used as a template for embedding in
  instruments, embedded systems, PCs, or even
  web browsers, to send measurements to the system.
%h2 For data query prototyping
%p
  This page will present a form that is used
  to build a data query. This can be used
  as a template for external data consumers.
%h2 Other queries
%p
  Other useful queries will be presented. For instance, there
  may be a request for the system status.
%hr/
%p Features of this page:
%ul
  %li
    It knows about the avaiable data models, and will provide
    menus for specifying ranges.
  %li The user can manually edit the sample URL.
  %li The URL can be tested on the page.
  %li For data providers, the POST response will be documented.
  %li For data consumers, the return data format will be documented.
