- if can?(:manage, Measurement)
  = form_tag(delete_test_measurements_path, :method => 'post') do
    = hidden_field_tag('instrument_id', instrument.id )
    = submit_tag("Delete Test Data", data: { confirm: "Are you sure you want to delete the test data for \n#{instrument.name}}?\n\nALL TEST DATA WILL BE LOST" })
