<% 
 highcharts_dom_id = "highcharts_instrument_#{@instrument.id}"
  
 if @varshortname != nil 
   # Determine the selected variable full name
   varname = @varnames[@varshortname]
   
   # Easier to read double quote
   quote = "\""
   
   # Create the highcharts data series for a single variable
   series = "[{name:" + quote + varname + quote + ", data: [" + @instrument.data(@instrument.display_points, @varshortname) + "]}]"

   # Convert items containing quotes into suitable json
   series         = series.as_json.html_safe

   # Craft a title for the chart
   title = quote + @instrument.name + ": " + varname + " - Live Data"+quote
   title  = title.as_json.html_safe 

%>

<div class="instrument_highchart" id="<%= highcharts_dom_id %>" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<%= render 'graph_chart', highcharts_dom_id: highcharts_dom_id, series: series, title: title, varname: @varnames[@varshortname], varshortname: @varshortname %>

<% end %>