
<% highcharts_dom_id = "highcharts_instrument_#{@instrument.id}"%>


<div class="instrument_highchart" id="<%= highcharts_dom_id %>" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script>
$(function () {
	var last_point = [];
	
    $(document).ready(function () {
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

        $('#<%= highcharts_dom_id %>').highcharts({
            chart: {
                type: 'spline',
                animation: Highcharts.svg, // don't animate in old IE
                marginRight: 10,
                events: {
                    load: function () {

                        // set up the updating of the chart each second
                        var series = this.series[0];
                        setInterval(
							function () {
								$.ajax({
								    url: '/instruments/<%= @instrument.id%>/live',
								    success: function(point) {

										if(point[0] != last_point[0]) {
											series.addPoint(point, true, true);	
											last_point = point;
																					
										}																							
								    },
								    cache: false
								});
                        	}
						, 1000);
                    }
                }
            },
            title: {
                text: 'Live Sensor Data'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                title: {
                    text: 'Value'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' +
                        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                        Highcharts.numberFormat(this.y, 2);
                }
            },
            legend: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: 'Random data',
                data: (function () {
                    // generate an array of random data
                    var data = [<%= @instrument.data(20) %>]
                    return data;
                }())
            }]
        });
    });
});
</script>



