<% highcharts_dom_id = "highcharts_instrument_#{@instrument.id}"%>

<% index = 0 %>
<% varshortnames   = Var.all.where("instrument_id = ?", @instrument.id).pluck(:shortname) %>
<% varnames        = Var.all.where("instrument_id = ?", @instrument.id).pluck(:name) %>
<% varshortname    = varshortnames[index] %>
<% varname         = varnames[index] %>

<% series = "[{name:" + "\"" + varname + "\"" + ", data: [" + @instrument.data(@instrument.display_points, varshortname) + "]}]" %>
<% series = series.as_json.html_safe %>

<div class="instrument_highchart" id="<%= highcharts_dom_id %>" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<%= render 'monitor_chart', highcharts_dom_id: highcharts_dom_id, series: series, varname:varname %>