%h1 Geo
= render 'geo_map'
%hr
%p
  If the map says "Opps!...", you need to enter a Google Maps API key in the CHORDS configuration.
  Google allows up to 25,000 free map accesses per day. 
%p
  You can  
  = link_to 'request a Google Maps API key', 'https://console.developers.google.com/project/_/apiui/credential'
  if you have a Google account. After you have the key, go to the 
  = link_to 'Configure', '/profiles'
  page and enter it into the "Google Maps JavaScript API Key" box.
  

