<head>
<script src="//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry" type="text/javascript"></script>
</head>

<h1>Geo</h1>

If map is not visible, <a href="javascript:history.go(0)">click</a> to refresh the page
<%= render 'geo_map' %>