<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lat</th>
      <th>Lon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'sites/bip_form', locals: {site: @site} %>
  </tbody>
</table>

<%= link_to 'Back', sites_path %>
