<h1>Editing Input Datum</h1>

<%= render 'form', input_datum: @input_datum %>

<%= link_to 'Show', @input_datum %> |
<%= link_to 'Back', input_data_path %>


#if statement to check whether uploaded file is new or has already been uploaded 