<%# add navigation links to this file %>
<li><%= link_to image_tag('ncar_logo_lg.jpg', size:"160x80"), "https://www.ncar.ucar.edu" %></li>
<li><%= link_to image_tag('cdslogofinal_QR.png', size:"160x80"), "https://www.eol.ucar.edu/about/our-organization/cds" %></li>
<li><%= link_to image_tag('UAH.png', size:"160x80"), "http://www.uah.edu/" %></li>
