<%# add navigation links to this file %>
<li><%= link_to image_tag('ncar_logo_lg.jpg', size:"100x50"), "https://www.ncar.ucar.edu", :target => "_blank" %></li>
<li><%= link_to image_tag('UAH.png', size:"100x50"), "http://www.uah.edu/", :target => "_blank" %></li>
<li><%= link_to image_tag('UMich.png', size:"48x50"), "https://www.umich.edu/", :target => "_blank" %></li>
<li><%= link_to image_tag('CSU.png', size:"158x50"), "https://www.colostate.edu/", :target => "_blank" %></li>
