.row
  - if current_user && current_user.role?(:admin) && User.find_by(email: 'admin@chordsrt.com').try(:valid_password?, 'realtimedata')
    = content_tag :div, "Admin Password Set To Default...PLEASE CHANGE IMMEDIATELY!!!", class: "flash_alert"

  - if current_user && current_user.role?(:admin) && User.with_only_role(:guest).count > 0
    = content_tag :div, "New users exist who need their permissions to be updated!\nPlease upgrade those users to at least Registered Users or remove them to avoid seeing this message again.", class: "flash_notice"

.row
  - flash.each do |name, msg|
    - if msg.is_a?(String)
      = content_tag :div, msg.html_safe, :class => "flash_#{name}"
