<nav>
	<ul class="horizmenu">
    	<li><%= link_to image_tag('CHORDS_6.png', size:"240x60"), root_path %></li>
		<li><h1>For <%= @before_profile.project %> </h1></li>
	    <%= render 'layouts/navigation_links' %>
	</ul>	
</nav>
