<nav>
	<ul class="horizmenu">
    	<li> <%= link_to image_tag('CHORDS_6.png', size:"400x100"), root_path  %></li>
		<li> <h1 style="font-size: 400%;"><%= @before_profile.project %> </h1></li>
	    <li> <%= image_tag('CHORDS_QR.jpg', size:"100x100")%></li>
	</ul>
</nav>
