<%# add navigation links to this file %>
<li><%= link_to "Sites", sites_path, class:"navlink1" %></li>
<li><%= link_to "Instruments", instruments_path, class:"navlink1" %></li>
<li><%= link_to "Measurements", measurements_path, class:"navlink1" %></li>
