<nav>
	<ul class="horizmenu">
    	<li><%= link_to image_tag('CHORDS_4.png', size:"60x60"), root_path %></li>
		<li><h1>CHORDS for <%= @before_profile.project %> </h1></li>
	    <%= render 'layouts/navigation_links' %>
	</ul>	
</nav>
