<nav>
<ul class="vertmenu">
	<li><%= link_to 'Dashboard', '/dashboard'%></li>
	<br>
	<li><%= link_to 'Configure', '/configure'%></li>
</ul>
<br>
<br>
<br>
<br>
<p>(Sidebar layout is broken. 
	Added a bunch of breaks to make it 
	taller untill we fix it.)</p>
</nav>